.bedroom-3{

    background-image: url("asset/background/bg_torielroom.png");
    .asriel {
        width: 6%;
        top: 50%;
        left: 50%;
    }

    .door-1{
        top: 81.5%;
        left: 67.5%;
        padding: 4.5% 9%;
        background: rgba(49, 49, 49, 0.466);
        &:hover{
            background: rgba(49, 49, 49, 0.705);
        }
    }

    .fullscreen{
        height: 100%;
        width: 100%;
        display: none;
    }
    .lamp {
        width: 8%;
        height: 12%;
        top: 15%;
        left: 9.6%;
    }
    .chest {
        width: 9%;
        height: 7%;
        top: 23%;
        left: 23.7%;
    }
    .shoes {
        width: 18.5%;
        height: 13%;
        top: 20%;
        left: 32.5%;
    }
    .wardrobe {
        width: 14%;
        height: 23%;
        top: 13%;
        left: 53.7%;
    }
    .box {
        width: 11.5%;
        height: 7.2%;
        top: 53%;
        left: 78.7%;
    }
    .bed {
        width: 14%;
        height: 23%;
        top: 28%;
        left: 70.7%;
    }
}