.corridor-1{
    
    background-image: url("asset/background/unnamed_319.png");
    background-repeat: no-repeat;
    background-size: 230%;
    background-position: left;

    .asriel {
        top: 50%;
        left: 50%;
    }

    .door-1{
        top: 36.5%;
        left: 48.5%;
        padding: 6.5% 4%;
    }

}