.screen{
    background: black;
    height: 100vh;
    font-family: 'Permanent Marker', cursive;

    .room{
        width: 40%;
        position: relative;

        .container-level{
            
            background-size: contain; 
            display: block;
            padding-bottom: 100%;
            
            &>div, img{
                position: absolute;
            }
        }

        .dialog{
            bottom: 0;
            width: 100%;
            height: 15%;
            font-size: 1.5vw;
            padding: .5em .7em;
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            border: rgb(255, 255, 255) 5px double;
            display: none;
        }

        .object {
            &:hover {
                cursor: pointer;
            }
        }

        .asriel{
            width: 6%;
        }
            
        @import "bedroom-1";

        @import "corridor-1"


    }
}