.screen{
    background: black;
    height: 100vh;
    font-family: 'Permanent Marker', cursive;

    .room{
        width: 40%;
        position: relative;
        
        &::after {
            content: "";
            background-image: url("asset/background/bg_asrielroom.png");
            background-size: contain; 
            display: block;
            padding-bottom: 100%;
        }

        .container-level{

            &>div, img{
                position: absolute;
            }

            .asriel {
                width: 6%;
                top: 50%;
                left: 50%;
            }

            .door-1{
                top: 81.5%;
                left: 67.5%;
                padding: 4.5% 9%;
                background: rgba(49, 49, 49, 0.466);
                &:hover{
                    background: rgba(49, 49, 49, 0.705);
                }
            }

            .dialog{
                bottom: 0;
                width: 100%;
                height: 15%;
                font-size: 1vw;
                padding: .5em .7em;
                background: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                border: rgb(255, 255, 255) 5px double;
                display: none;
            }

            .fullscreen{
                height: 100%;
                width: 100%;
                display: none;
            }
            .lampe {
                width: 8%;
                height: 12%;
                top: 15%;
                left: 9.6%;
            }
            .coffre {
                width: 9%;
                height: 7%;
                top: 23%;
                left: 23.7%;
            }
            .shoes {
                width: 18.5%;
                height: 13%;
                top: 20%;
                left: 32.5%;
            }
            .armoire {
                width: 14%;
                height: 23%;
                top: 13%;
                left: 53.7%;
            }
            .box {
                width: 11.5%;
                height: 7.2%;
                top: 53%;
                left: 78.7%;
            }
            .bed {
                width: 14%;
                height: 23%;
                top: 28%;
                left: 70.7%;
            }

            .object {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}