.screen{
    background: black;
    height: 100vh;

    .room{
        background: black;
        width: 80%;
        height: 80%;

        h1{
            font-size: 10rem;
            color: white;
            font-weight: bold;
        }

        .btn-play{
            background: gray;
            padding: 1em 2em;
            font-size: 1em;
            color: white;
            font-weight: bold;
            border: 0;
        }
    }
}