.screen {
  background: black;
  height: 100vh;
  font-family: 'Permanent Marker', cursive; }
  .screen .room {
    width: 40%;
    position: relative; }
    .screen .room .container-level {
      background-size: contain;
      display: block;
      padding-bottom: 100%; }
      .screen .room .container-level > div, .screen .room .container-level img {
        position: absolute; }
    .screen .room .dialog {
      bottom: 0;
      width: 100%;
      height: 15%;
      font-size: 1.5vw;
      padding: .5em .7em;
      background: black;
      color: white;
      border: white 5px double;
      display: none; }
    .screen .room .object:hover {
      cursor: pointer; }
    .screen .room .asriel {
      width: 6%; }
    .screen .room .bedroom-3 {
      background-image: url("asset/background/bg_torielroom.png"); }
      .screen .room .bedroom-3 .asriel {
        width: 6%;
        top: 50%;
        left: 50%; }
      .screen .room .bedroom-3 .door-1 {
        top: 81.5%;
        left: 67.5%;
        padding: 4.5% 9%;
        background: rgba(49, 49, 49, 0.466); }
        .screen .room .bedroom-3 .door-1:hover {
          background: rgba(49, 49, 49, 0.705); }
      .screen .room .bedroom-3 .fullscreen {
        height: 100%;
        width: 100%;
        display: none; }
      .screen .room .bedroom-3 .lamp {
        width: 8%;
        height: 12%;
        top: 15%;
        left: 9.6%; }
      .screen .room .bedroom-3 .chest {
        width: 9%;
        height: 7%;
        top: 23%;
        left: 23.7%; }
      .screen .room .bedroom-3 .shoes {
        width: 18.5%;
        height: 13%;
        top: 20%;
        left: 32.5%; }
      .screen .room .bedroom-3 .wardrobe {
        width: 14%;
        height: 23%;
        top: 13%;
        left: 53.7%; }
      .screen .room .bedroom-3 .box {
        width: 11.5%;
        height: 7.2%;
        top: 53%;
        left: 78.7%; }
      .screen .room .bedroom-3 .bed {
        width: 14%;
        height: 23%;
        top: 28%;
        left: 70.7%; }
    .screen .room .bedroom-1 {
      background-image: url("asset/background/bg_asrielroom.png"); }
      .screen .room .bedroom-1 .asriel {
        width: 6%;
        top: 50%;
        left: 50%; }
      .screen .room .bedroom-1 .door-1 {
        top: 81.5%;
        left: 67.5%;
        padding: 4.5% 9%;
        background: rgba(49, 49, 49, 0.466); }
        .screen .room .bedroom-1 .door-1:hover {
          background: rgba(49, 49, 49, 0.705); }
      .screen .room .bedroom-1 .fullscreen {
        height: 100%;
        width: 100%;
        display: none; }
      .screen .room .bedroom-1 .lamp {
        width: 8%;
        height: 12%;
        top: 15%;
        left: 9.6%; }
      .screen .room .bedroom-1 .chest {
        width: 9%;
        height: 7%;
        top: 23%;
        left: 23.7%; }
      .screen .room .bedroom-1 .shoes {
        width: 18.5%;
        height: 13%;
        top: 20%;
        left: 32.5%; }
      .screen .room .bedroom-1 .wardrobe {
        width: 14%;
        height: 23%;
        top: 13%;
        left: 53.7%; }
      .screen .room .bedroom-1 .box {
        width: 11.5%;
        height: 7.2%;
        top: 53%;
        left: 78.7%; }
      .screen .room .bedroom-1 .bed {
        width: 14%;
        height: 23%;
        top: 28%;
        left: 70.7%; }
    .screen .room .corridor-1 {
      background-image: url("asset/background/unnamed_319.png");
      background-repeat: no-repeat;
      background-size: 230%;
      background-position: left; }
      .screen .room .corridor-1 .asriel {
        top: 50%;
        left: 50%; }
      .screen .room .corridor-1 .door-1, .screen .room .corridor-1 .door-2, .screen .room .corridor-1 .door-3 {
        top: 36.5%;
        left: 48.5%;
        padding: 6.5% 4%; }
      .screen .room .corridor-1 .to-right {
        width: 5%;
        height: 19%;
        top: 49%;
        left: 95.3%;
        background: rgba(49, 49, 49, 0.466); }
        .screen .room .corridor-1 .to-right:hover {
          background: rgba(49, 49, 49, 0.705); }
      .screen .room .corridor-1 .to-left {
        width: 5%;
        height: 19%;
        top: 49%;
        left: 0%;
        background: rgba(49, 49, 49, 0.466); }
        .screen .room .corridor-1 .to-left:hover {
          background: rgba(49, 49, 49, 0.705); }
      .screen .room .corridor-1 .flower.left {
        width: 11%;
        height: 17%;
        top: 35%;
        left: 60.2%; }
        .screen .room .corridor-1 .flower.left:hover {
          cursor: pointer; }
      .screen .room .corridor-1 .flower.center {
        width: 6%;
        height: 15%;
        top: 30%;
        left: 0%; }
        .screen .room .corridor-1 .flower.center:hover {
          cursor: pointer; }

/*# sourceMappingURL=level.css.map */
